.wrapper-global{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-bottom{
    margin-top: auto;
}
.main.title{
    text-align: center;
}

.title {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .title {
    font-size: 1.35rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 1.6rem;
  }
}

.flex-grow-1{
  flex-grow:1;
}

@media (max-width: 576px) {
    .navbar{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar .wrapper-fa .fa{
        font-size: 1rem;
    }
    .navbar .navbar-brand p{
        font-size: 0.9rem;
    }
    .table.table-bordered.dataTable{
        max-width : 100% !important;
    }
    .tab-pane .btn{
        font-size: 0.9rem;
    }
}
@media (min-width: 767px) {
    .fixed-md-bottom{
        position: relative;
        left: 0;
        z-index: 1030;
    }
}
@media (min-width: 910px) {
    .fixed-md-bottom{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

.navbar-brand .img-fluid{
    height: 30px;
    width: auto;
}
.is-required{
    display: flex;
}
.is-required:after{
    content:"*";
    color: red;
    display: block;
    margin-left: 15px;
}
.form-control.error{
    border-color: red;
}
label.error{
    color: red;
}

.nav-item:nth-child(n+2){
    margin: auto 5px;

}
.nav-item:first-child{
    margin-right: 5px;

}
@media (max-width: 992px) {
    .nav.navbar-nav{
        margin-top: 1.5rem;
    }
    .nav.navbar-nav .nav-item{
        margin: 5px 0;
    }
    .nav.navbar-nav .nav-item .nav-link{
        padding: 10px;
    }
}

.nav-link{
    border-radius: .3em;
    border: 1px solid var(--secondary);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link{
    background-color: var(--blue);
    color: var(--light);
    border-color: var(--blue);
}

.critical-epreuve .link,
.critical-date .link{
    color: var(--danger);
}

.success-epreuve .link{
    color: var(--success);
}

.fa-battery-full{
    transform: rotate(-0.25turn);
}

.fa-stethoscope{
    transform: rotate(-0.5turn);
}

.wrapper-link{
    display: flex;
    flex-wrap: nowrap;
}
